body {
    padding-bottom: 30px;
}

#sidebar-wrapper {
    min-width: 300px;
    max-width: 400px;
    padding-top: 27px;
    padding-right: 40px;
}

#maincontent-wrapper {
    max-width: 1024px;
    min-width: 400px;
    padding-right: 18px;
}

#edit-button {
    text-align: right;
    padding-top: 18px;
}

#category-input {
    width: 50%;
}

#markdown-input {
    width: 95%;
    height: 400px;
}

#title-input {
    width: 95%;
}

.assets-table {
    width: 70%;
}

.status {
    font-size: 2em;
}

.hidden {
    display: none;
}
