<td>
    <a target="blank" {{bindAttr href="asset.local_url"}}>{{asset.name}}</a>
</td>
<td>{{asset.size}} byte</td>
<td>
    {{#if asset.local_delete}}
    <div class="btn" {{action "undoDelete"}}><i class="icon-trash"></i> undo</div>
    {{else}}
    <div class="btn" {{action "delete"}}><i class="icon-trash"></i> delete</div>
    {{/if}}
</td>
<td class="status"><i {{bindAttr class="asset.local_statusClass"}}></i></td>
