{{#if view.doc}}
    {{#with view.doc}}
    <div class="page-header ">
        <div class="row-fluid">
        <div class="span10">
        <h3>{{title}} &nbsp;&nbsp;&nbsp; 
            <small>last changed on {{local_timeString}} </small>
        </h3>
        </div>
        <div id="edit-button" class="span2">
            {{#if local_edit}}
                <a href="#" {{action "setView"}}>view</a>
            {{else}}
                <a href="#" {{action "setEdit"}}>edit</a>
            {{/if}}
         </div>   
         </div>
    </div>

    {{#if local_edit}}
        <div>
            <label for="category-input">category</label>
            {{view Ember.TextField valueBinding="category" elementId="category-input"}}
            <br />
            <br />
            <label for="title-input">title</label>
            {{view Ember.TextField valueBinding="title" elementId="title-input"}}
            <br />
            <br />
            <label for="markdown-input">markdown</label>
            {{view Ember.TextArea valueBinding="markdown" elementId="markdown-input"}}
            <br />
        </div>

        {{#if _id}} 
        <br />
        <h4>Attachments</h4>
        <table class="table assets-table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>size</th>
                    <th></th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                {{#each asset in local_assets}}
                    {{view "view.assetView" assetBinding="asset"}}
                {{/each}}
            </tbody>
        </table>
        <div class="btn" {{action "selectAsset"}}><i class="icon-plus"></i> add new code</div> 
        {{/if}}
        <br /><hr />
        <div class="btn btn-large" {{action "saveDoc"}}>save document</div>
        <div class="btn btn-large" {{action "deleteDoc"}}>delete document</div>

    {{else}}
        {{{local_contentHTML}}}
        {{#if local_assets.length}}
        <br/><hr />
        <a href="#assets-container" {{action "toggleAssets"}}>attachments</a>
        <div id="assets-container" class="hidden">
        <table class="table assets-table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>size</th>
                    <th>uploaded on</th>
                </tr>
            </thead>
            <tbody>
                {{#each asset in local_assets}}
                <tr>
                    <td><a target="blank" {{bindAttr href="asset.local_url"}}>{{asset.name}}</a></td>
                    <td>{{asset.size}} size</td>
                    <td>{{asset.local_date}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
        {{/if}}
    {{/if}}
    {{/with}}

{{else}}
    <div class="page-header"><h3>welcome to couchwiki</h3></div>
    <p>Please open or create a document</p>
{{/if}}

