<ul class="nav nav-pills nav-stacked">
    {{#each item in controller.menu}}
        {{#view "view.menuItem" itemBinding="item"}}
            <a href="#">
                {{item.category}} - {{item.title}}
            </a>
        {{/view}}
    {{/each}}
</ul>

<hr />

<div class="btn btn-link" {{action "newDoc"}}>create new Document</div>
